.container {
    display: flex;
    justify-content: center;
}

.content {
    background: white;
    width: 600px;
    border-radius: 6px;
    text-align: center;

    input {
        margin-right: 10px;
    }

    button {
        color: white;
        background: gray;
    }
}